<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>App</title>

   <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
    <body>
      <div class="container">

     <h1><%= title %></h1>
       <p>Twee tousled letterpress locavore mustache, Pitchfork sartorial fingerstache butcher meh bitters. Polaroid hashtag keytar, pour-over next level Vice Odd Future Thundercats tilde Helvetica VHS gastropub. Meh taxidermy biodiesel mixtape letterpress ugh. Irony chambray cronut, Echo Park next level cardigan authentic farm-to-table fap health goth. Blue Bottle +1 distillery asymmetrical, Pitchfork Helvetica dreamcatcher. Kickstarter Schlitz next level, listicle sustainable Marfa gluten-free kogi semiotics art party. Hoodie authentic craft beer scenester High Life Shoreditch, blog farm-to-table bespoke cronut.

        Squid VHS taxidermy artisan typewriter scenester. Keffiyeh gastropub pork belly, butcher McSweeney's bicycle rights listicle gentrify synth Etsy. Carles swag health goth Etsy, polaroid Helvetica put a bird on it farm-to-table quinoa heirloom Intelligentsia. Meh mixtape try-hard tote bag, meditation semiotics 8-bit pour-over hoodie PBR&B plaid readymade organic blog ugh. Deep v Vice direct trade squid, tattooed leggings aesthetic skateboard gluten-free artisan. Post-ironic wolf flexitarian kitsch, Helvetica Brooklyn occupy. Forage roof party four loko, Neutra Vice street art Kickstarter listicle fixie disrupt pork belly kitsch beard.
      <ul>
       <% for(var i=0; i<users.length; i++) { %>
       <li><%= users[i] %> </li>
       <% } %>
      </ul>
      </p>
    </div
</body>
</html>